// colors

$color-1: #445b7c; // blue dark
$color-2: #dc717d; // salmon
$color-2_glow: #D2235E;
$color-white: #ffffff; // white
$color-green_brand: #338D11; // brand, logo
$color-green_dark: #266a0d; 
$color-blue: #0088CC; // button/links
$color-blue_hover: #01AAFF; //links hover
$color-red: #BB0000; // error
$color-yellow: #FFFF99; 


// fonts 

$primary-font: 'Helvetica', sans-serif;

// bounce-in duration

$bounce-in-duration: .7s;